body{
    background-color:orange;
    color: azure;
    font-size: medium;
    text-align: center;
    font: 1em sans-serif;
    }
    .text {
        color: blue;
    font-size: 68px;
    font-weight: bolder;
    }
 